.double-tap-img{
    width: 150px;
    height: 40px;
}
.btn-outline-primary {
    color:#0314fe ;
    border-color: #0314FE ;
}
.btn-primary {
    background-color:#0314fe;
}
.navbar-custom{
 margin-left: 10%;
 margin-right: 1.5%;
 width: 60%;
}
.navbar-nav>a{
    margin: 2%;
    white-space: nowrap;
}
.nav-button{
    margin: 1%;
    height: 40px;
    width: 10%;
}
.Dots{
    color:#0314fe;
    margin:5px;
    font-size: 18px;
}
#Trial-list>p{
    display: inline;
    font-size:14px
}
.Top-Card{
    margin-top:50px;
}
.Top-Card>h5{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
.Top-Card>h6 {
    font-size: 32px;
}
.Top-Card>p{
    font-size: 20px;
    font-weight: bold;
    color:rgb(157, 157, 157);
    margin-bottom: 20px;
}
.Top-Card>a {
margin-top: 20px;
margin-bottom: 20px;
width: 35%;
font-weight: bold;
font-size: 20px;
margin-right: 10px;
padding-top: 2%;
padding-bottom: 2%;
}
.Top-Card>a i {
    font-size: 20px;
    height:50px;
}
.borderless-card{
border: none;
}
.Top-Img>img{
    height: 700px;
    margin-left: 50px;
}



/* 1st-text */

.text1{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    ;
    
}

.text1 p{
    font-weight: 600;
}

.text1 h5{margin-top: 50px;
    font-weight: 700;
    font-size: 40px;

}

/* Collect Useful Info Css */
#img{
    background-color:white;
    border-radius: 20px 0 0 20px;
    height: 520px;
    margin-top: -17px;
    margin-left:-16px;
}


.my-card-body{
    background-color: #0314FE;
    border-radius: 20px 20px 20px 20px;
    color: white;
    height: 520px;
    width: auto;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif; 
    font-weight: bold;
    
}

.my-card-body{
    border: 0.5px solid grey;
}

.card-text1{
    margin-top: 50px;
    margin-left: 30px;
}

/* 2st-text */
.text2{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 90px;
    
}

.text2 p{
    font-weight: 600;
} 



/* Get Paid Sooner */


#img2{
    background-color: white;
    border-radius: 20px 0 0 20px;
    height: 520px;
    margin-top: -17px;
    margin-left: -16px;
}

/* Footer Css */

.card-title h5{
    font-family: Arial, Helvetica, sans-serif;
}

a:first-child{margin-right:50px;}

ul li{
  font-size: 5px;
  display: inline-flex;
  margin-right: 10px;
}
